# Environments
nrc_env/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# LaTeX build artifacts
papers/*.aux
papers/*.log
papers/*.fdb_latexmk
papers/*.fls
papers/*.synctex.gz
papers/*.out
# Note: Keeping PDFs out of gitignore per user request to have live PDFs (though the GH action can handle it, we'll let GH actions upload them as artifacts instead)
papers/*.pdf

# Fabrication Outputs
fabrication_outputs/

# OS Files
.DS_Store
